// Screen sizes
$screen-mobile-sm: 860px;
$screen-mobile-md: 1200px;

// Colors
$bg-color: #f8f1eb;
$white-bg-color: #ffffff;
$main-txt-color: #333333;
$input-txt-color: #bdbdbd;
$button-color: #009900;
$button-txt-color: #ffffff;
$credit-card-bg: #fafafa;
$remove-btn-color: #dc624e;
$image-box-bg: #f8f1eb;
$footer-bg-color: #dc624e;
$footer-txt-color: #ffffff;
$border-color: #e0e0e0;
